/*----- clearfix -----*/
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
 
.clearfix {
    display: inline-block;
}
 
html[xmlns] .clearfix {
    display: block;
}
 
* html .clearfix {
    height: 1%;
}

body {
    background-color: #ffffff;
    font-family: Gotham, Helvetica, Arial, sans-serif;
      }

section {
    border-bottom: 1px solid gray;
}

/*----- Nav Element Styles -----*/
nav {
    clear: right;
    margin-left: 50%;
}

nav li {
    text-decoration: none;
    display: inline-block;
    float: left;
    padding-left: 1%;
    
}

nav a {
    text-decoration: none;
}

#twitter img {
    width: 65px;
    height: 50px;
    margin-left: 2%;
}

#small_logo {
    float: left;
}

header {
    width: 100%;
    border-bottom: 1px solid gray;
}

/*----- About Element Styles -----*/

#about {
    margin-top: 5%;
    padding-bottom: 5%;
}
#dispenser {
    margin-left: 20%;
    top: 25%;
    max-width: 18%;
    min-width: 10%;
    max-height: 60%;
    display: inline-block;
}

#desc {
    position:absolute; 
    top:50%; 
    height:10em; 
    margin-top:-5em;
    display: inline-block;
    margin-left: 5%;
}

/*----- About Us Elements -----*/
#team h2 {
    margin-left: 45%;
}

.team_member {
    padding-left: 12%;
    position: relative;
}

.team_member img {
    display: inline-block;
}

.team_member p {
    position:absolute;  
    height:10em; 
    margin-left: 3%;
    display: inline-block;
    width: 50%
}

#contact {
    margin-left: 25%;
    margin-top: 3%;
    display: inline-block;
}

/*----- About Us Elements -----*/
#press {
    margin-left: 5%;
}

#press h2 {
    margin-left: 35%;
}

.news_logo {
    width: 200px;
}

.news {
    display: inline-block;
    width: 250px;
    padding: 1%;
    margin-right: 2%;
}

/*----- Footer Elements -----*/
#footer p {
    margin-left: 35%;
}

@media (max-width: 950px) {
    #dispenser {
        margin-left: 20%;
        top: 25%;
        max-width: 18%;
        min-width: 10%;
        max-height: 60%;
        display: block;
    }

    #desc {
        position:relative; 
        top: initial; 
        height: initial; 
        margin-top: initial;
        display: inline-block;
        margin-left: 5%;
    }

    .team_member p {
        display: block;
    }

    .team_member img {
        display: block;
    }
}