/*----- clearfix -----*/
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
 
.clearfix {
    display: inline-block;
}
 
html[xmlns] .clearfix {
    display: block;
}
 
* html .clearfix {
    height: 1%;
}


section {
    border-bottom: 1px solid gray;
}

/*----- Nav Element Styles -----*/
nav {
    clear: right;
    margin-left: 50%;
}

nav li {
    text-decoration: none;
    display: inline-block;
    float: left;
    padding-left: 1%;
    
}

nav a {
    text-decoration: none;
}

#twitter img {
    width: 65px;
    height: 50px;
    margin-left: 2%;
}

#small_logo {
    float: left;
}

header {
    width: 100%;
    border-bottom: 1px solid gray;
}

/*----- About Element Styles -----*/

#about {
    margin-top: 5%;
    padding-bottom: 5%;
}
#dispenser {
    margin-left: 20%;
    top: 25%;
    max-width: 18%;
    min-width: 10%;
    max-height: 60%;
    display: inline-block;
}

#desc {
    position:absolute; 
    top:50%; 
    height:10em; 
    margin-top:-5em;
    display: inline-block;
    margin-left: 5%;
}

/*----- About Us Elements -----*/


/* body {
    background-color: #ffffff;
    font-family: Gotham, Helvetica, Arial, sans-serif;
      }

nav

header {
   width: 95%;
   height: 90px;
   left: 2%;
   right: 2%;
   top: 0;
   border-bottom: 1px solid gray;
   background-color: #ffffff;
   position: absolute;
}
 
#small_logo {
    margin-top: 36px;
    float: left;
    position: absolute;
    left: 3%;
    }

#small_logo img {
    position: relative;
    }

#dispenser {
    z-index: 1;
    display: inline-block;
    height: 80%;

}





#desc{
    display: inline-block;
    top: 40%;
    left: 40%;
    right: 10%;
    position: absolute;

}

#desc p {
    font-family: Gotham;
    opacity: 0.8;
    white-space: nowrap;
    line-height: 150%;
}

h2 {
    font-family: Gotham;
    white-space: nowrap;
    line-height: 150%;
    text-align: center; margin-left 34%
    color: black;
}


.section {
   width: 95%;
   height: 650px;
   margin-left: 2%;
   border-bottom: 1px solid gray;
   background-color: #ffffff;
   position: static;
   z-index: 0;
}

.step {
    margin-top: 8%;
    display: inline-block;
    text-align: center;
    margin-right: 5%;
    width: 25%;
}



#footer {
    
    text-align: center;
    position: relative;
    bottom: 0;
    opacity: .8;
}

#footer a {
    color: #00AED5;
}
body {
    background-color: #ffffff;
    font-family: Gotham, Helvetica, Arial, sans-serif;
      }


#header {
   width: 95%;
   height: 90px;
   left: 2%;
   right: 2%;
   top: 0;
   border-bottom: 1px solid gray;
   background-color: #ffffff;
   position: absolute;
}
 
 .tab {
    display: inline-block;
    height: 13%;
    width: 13%;
    margin-right: 3%;
    margin-top: 2%;
    text-align: center;
    position: static;
}

#small_logo {
    margin-top: 36px;
    float: left;
    position: absolute;
    left: 3%;
    }

#small_logo img {
    position: relative;
    }

#dispenser {
    z-index: 1;
    display: inline-block;
    height: 80%;

}

#dispenser img {
    left: 20%;
    top: 25%;
    max-width: 18%;
    min-width: 10%;
    max-height: 60%;
    position: absolute;
}



#desc{
    display: inline-block;
    top: 40%;
    left: 40%;
    right: 10%;
    position: absolute;

}

#desc p {
    font-family: Gotham;
    opacity: 0.8;
    white-space: nowrap;
    line-height: 150%;
}

h2 {
    font-family: Gotham;
    white-space: nowrap;
    line-height: 150%;
    text-align: center; margin-left 34%
    color: black;
}


.section {
   width: 95%;
   height: 650px;
   margin-left: 2%;
   border-bottom: 1px solid gray;
   background-color: #ffffff;
   position: static;
   z-index: 0;
}

.step {
    margin-top: 8%;
    display: inline-block;
    text-align: center;
    margin-right: 5%;
    width: 25%;
}



#footer {
    
    text-align: center;
    position: relative;
    bottom: 0;
    opacity: .8;
}

#footer a {
    color: #00AED5;
}

#footer a:link {
    text-decoration: none;
    color: #00AED5;
}

#footer a:hover {
       text-decoration: none;
      color: #00FFFF;
}

#footer a:visited {
       text-decoration: none;
    color: #00AED5;
}

#contact {
    text-align: center;
    font-family: Gotham-Light, Gotham, Ã’Helvetica NeueÃ“, Helvetica, Arial, sans-serif;
    opacity: 0.8;
    font-size: 14px;
    white-space: nowrap;
}





th {
    text-align: left;
    font-family: Gotham, Ã’Helvetica NeueÃ“, Helvetica, Arial, sans-serif;
    font-size: large;
    min-width: 20%;
    position: static;
    padding-top: 0px;
    margin-top: 0px;
}

td {
    text-align: left;
    font-family: Gotham-Light, Gotham, Ã’Helvetica NeueÃ“, Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 150%;
  
    font-color: #FF0000;
    opacity: .8;
}

td p {
    text-align: left;
}

td p strong {
    opacity: 1;
    font-color: black;
}

td a:link {
    color: black;
    text-decoration: none;
}


#who_table {
    position: relative;
    top: 0px;
    text-align: top;
    min-width: 600px;
    width: 700px;
    max-width: 800px;
}


td img {
    position: relative;
}




#links {
    left:78%;
    right: 5%;
    top: 44px;
    z-index: 5;
    white-space:nowrap;
    position: absolute;
    display: inline-block;
    font-color: #00b0d8;
   
}

#hiring {
    font-size: 14px;
    color: #00B0D8;
    opacity: .8;
    font-family: Gotham-Light, Gotham, Ã’Helvetica NeueÃ“, Helvetica, Arial, sans-serif;
    top: 80px;
    display: inline-block;
    text-decoration: none;
}

a {
    color: #00b0d8;
    text-decoration: none;
}


#twitter {
    text-decoration: none;
    display: inline-block;
 
}


#links img {
  
    height: 40px;
    width: auto;
    vertical-align: top;
    margin-left: 30px;
    margin-right: 20px;
    display: inline-block;
    text-decoration: none;  
}


.news {
    position: static;
    display: inline-block;
    margin-right: 30px;
    min-width: 200px;

}

.headline {
    font-size: 14px;
    opacity: .8;
    line-height: 150%;
    width: 200px;
    vertical-align: top;
    position: relative;
    display: inline-block;
    margin-bottom: 50px;
    margin-right: 20px;
    text-align: left;
}

.news_logo {
    position: relative;
    margin-left: -20px;
}

.news_logo img {
    border: 1px black;
    height: auto;
    width: 200px;
    text-align: center;
    position: relative;
}

#press {
    text-align: center;
    position: relative;
}

.news_row {
    width: 800px;
    position: relative;
    margin: auto;
}

Hiring Sheet

.job {
    background: #ffffff;
    padding: 20px;
    border-style: solid;
    border-width: 1px;
    border-radius: 0px;
    border-color: #C0C0C0;
    width: 300px;
    height: 150px;
    text-align: center;
    position: relative;
    vertical-align: top;
    margin: 20px;
    display: inline-block;
    white-space: normal;
}

.job a {
    color: black;
    text-decoration: none;
    opacity: .8;
    text-align: center;
}

.job p {
    line-height: 1.25;
}

.job h3 {
     color: #00B0D8;
     text-align: center;
}

#job_list {
    text-align: center;
    position: relative;
    white-space:nowrap;
    font-family: Gotham-Light, Gotham, Ã’Helvetica NeueÃ“, Helvetica, Arial, sans-serif;
    top: 200px;
    width: 100%;
}

#footer2 {
    
    text-align: center;
    position: absolute;
    bottom: 30px;
    opacity: .8;
    width: 100%;
}
#footer a:link {
    text-decoration: none;
    color: #00AED5;
}

#footer a:hover {
       text-decoration: none;
      color: #00FFFF;
}

#footer a:visited {
       text-decoration: none;
    color: #00AED5;
}

#contact {
    text-align: center;
    font-family: Gotham-Light, Gotham, Ã’Helvetica NeueÃ“, Helvetica, Arial, sans-serif;
    opacity: 0.8;
    font-size: 14px;
    white-space: nowrap;
}





th {
    text-align: left;
    font-family: Gotham, Ã’Helvetica NeueÃ“, Helvetica, Arial, sans-serif;
    font-size: large;
    min-width: 20%;
    position: static;
    padding-top: 0px;
    margin-top: 0px;
}

td {
    text-align: left;
    font-family: Gotham-Light, Gotham, Ã’Helvetica NeueÃ“, Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 150%;
  
    font-color: #FF0000;
    opacity: .8;
}

td p {
    text-align: left;
}

td p strong {
    opacity: 1;
    font-color: black;
}

td a:link {
    color: black;
    text-decoration: none;
}


#who_table {
    position: relative;
    top: 0px;
    text-align: top;
    min-width: 600px;
    width: 700px;
    max-width: 800px;
}


td img {
    position: relative;
}




#links {
    left:78%;
    right: 5%;
    top: 44px;
    z-index: 5;
    white-space:nowrap;
    position: absolute;
    display: inline-block;
    font-color: #00b0d8;
   
}

#hiring {
    font-size: 14px;
    color: #00B0D8;
    opacity: .8;
    font-family: Gotham-Light, Gotham, Ã’Helvetica NeueÃ“, Helvetica, Arial, sans-serif;
    top: 80px;
    display: inline-block;
    text-decoration: none;
}

a {
    color: #00b0d8;
    text-decoration: none;
}



#twitter {
    text-decoration: none;
    display: inline-block;
 
}


#links img {
  
    height: 40px;
    width: auto;
    vertical-align: top;
    margin-left: 30px;
    margin-right: 20px;
    display: inline-block;
    text-decoration: none;  
}


.news {
    position: static;
    display: inline-block;
    margin-right: 30px;
    min-width: 200px;

}



.day {
    background: #f2f2f2;
    padding: 10px;
    font-size: large;
    border-radius: 2px;
    width: 40px;
    text-align: center;
    position: relative;
    vertical-align: top;
}

.month {
    background: #ccc;
    padding: 10px;
    font-size: large;
    border-radius: 2px;
    width: 40px;
    text-align: center;
    vertical-align: top;
}


.headline {
    font-size: 14px;
    opacity: .8;
    line-height: 150%;
    width: 200px;
    vertical-align: top;
    position: relative;
    display: inline-block;
    margin-bottom: 50px;
    margin-right: 20px;
    text-align: left;
}

.calendar {
    display: inline-block;
    vertical-align: top;
}

.news_logo {
    position: relative;
    margin-left: -20px;
}

.news_logo img {
    border: 1px black;
    height: auto;
    width: 200px;
    text-align: center;
    position: relative;
}

#press {
    text-align: center;
    position: relative;
}

.news_row {
    width: 800px;
    position: relative;
    margin: auto;
}

Hiring Sheet

.job {
    background: #ffffff;
    padding: 20px;
    border-style: solid;
    border-width: 1px;
    border-radius: 0px;
    border-color: #C0C0C0;
    width: 300px;
    height: 150px;
    text-align: center;
    position: relative;
    vertical-align: top;
    margin: 20px;
    display: inline-block;
    white-space: normal;
}

.job a {
    color: black;
    text-decoration: none;
    opacity: .8;
    text-align: center;
}

.job p {
    line-height: 1.25;
}

.job h3 {
     color: #00B0D8;
     text-align: center;
}

#job_list {
    text-align: center;
    position: relative;
    white-space:nowrap;
    font-family: Gotham-Light, Gotham, Ã’Helvetica NeueÃ“, Helvetica, Arial, sans-serif;
    top: 200px;
    width: 100%;
}

#footer2 {
    
    text-align: center;
    position: absolute;
    bottom: 30px;
    opacity: .8;
    width: 100%;
} */